extends ../layouts/default

block content
	#exhibitions.container
		.jumbotron: h1 Exhibitions
		.single-show
			.poster-wrap
				img.spr-art-poster(src="/images/spring_arts_15_poster.jpg")
			.info
				h1 2015 Spring Arts Festival
				h3 Saturday, April 25
					br
					| 6 - 9pm
					br
					| Granoff Center for the Creative Arts
				p The Student Creative Arts Council is proud to present The Spring Arts Festival, our annual celebration of the arts at brown and RISD. The 2015 Spring Arts Festival will feature works from current students as well as recent brown alumni.
				p Featured artists:
				ul.artist-list.half-list
					li Andrew Alexander
					li Jennifer Avery
					li Jake Brodsky
					li Rebecca Broderick
					li Jana Butman
					li Vaughan Carman
					li Scirocco Chodat
					li Dylan Everett
					li Katie Darby Slater
					li Sienn Giraldi
					li Danny Glass
					li Suzy Gonzalez 
				ul.artist-list.half-list
					li Celine Katzman
					li Milan Koerner-Safrata
					li Jack Lawler
					li Ernesto Renda
					li Samuel Rosenberg
					li Jacob Shore
					li Steve Smith 
					li Minsoo Thigpen 
					li Hello Velocity
					li Katharina Windemuth 
					li Zachary Korol-Gold 
					li Caroline Zurmley
		.sep
		.single-show
			.info-full
				h1 2015 Student Grant Show
				h3 April 10 - 26
					br
					| Granoff Center Lower Lobby
				p Through its grant programs, the Creative Arts Council funds student projects every semester. The Student Grant Show displays an array of the projects that were created under the framework of the CAC support during the 2014-2015 cycle. Organized in collaboration with the Student Creative Arts Council, the show provides an opportunity for artists to present their work and encourages the community to take advantage of this resource.
				p This year's selection features:
				ul.artist-list
					li Marianne Abbott
					li Andrew Alexander
					li Francesca Capone
					li Lauren Cheung
					li Bridget Ferrill
					li Celine Katzman
					li Annika Klein
					li Rory Macfarlane
					li Caroline Park
					li Dylan C. Platt
					li Tristan Rodman
					li Nina Ruelle
					li Todd Stong
		.sep
		.single-show
			.info-full
				h1 Making Space
				h3 April 13 - April 28
					br
					| Granoff Center Living Room Spaces
				p As contemporary practices trend towards the digital and experiential, concern for spaces made to show new works that impose physically on a viewer has abated. At the current moment, these sorts of works – chiefly painting, but more theoretically, works that can be considered immersive – are not only being produced, but need the space in which to be shown. What we’ve proposed in <em>Making Space</em> is a return to the way a viewer can interact with a work as a body that invades the viewer’s space as opposed to remaining a benign surface – the work has the authority to speak and be read. We’ve selected pieces that have something to say – about, of, and in created spaces – in the way that, even as surfaces, they explode and saturate the space around them with meaning.
				p Featuring:
				ul.artist-list
					li Rosa Congdon
					li Caroline D’Arcy Gorman
					li Kyle Laidig
					li Ivan Rios-Fetchko
					li Todd Stong
