extends ../layouts/default

block content
	#home
		a(href='/exhibitions')
			.jumbo-half.current
				h1.div-title CURRENT
				//- h2 Spring Arts
		a(href='/lectures')
			.jumbo-half.past
				h1.div-title PAST
				//- h2 Neil Harbisson