extends ../layouts/default

block content
	.container: .jumbotron
		h1 Lectures go here!
		p This will be a place to keep lectures and shit.
		p Theoretically there will be a big poster image on this page.
		hr
		if user && user.canAccessKeystone
			p You are signed in!
				a(href='/keystone').btn.btn-lg.btn-primary Go to admin panel
		else
			p
				a(href='/keystone/signin', style='margin-right: 10px').btn.btn-lg.btn-primary Sign in
				|  to use the Admin UI.
