extends ../layouts/default

block append content
	.container: .jumbotron
		h1 Exhibitions go here!
		p Not sure we really talked about how this should work...
		p or like how the page layout should be.
		hr
		p Perhaps poster, again like the Lectures page
