extends ../layouts/default

block content
	#triangles
		.container 
			.jumbotron
				h1 TRIANGLES 
					small An intimate lecture series for the curious and open-minded.
			img.poster(src='/images/triangles_poster.jpg')
			.info
				h3 Friday, April 24
					br
					| 7:30 - 10:30pm
					br
					| 14 Pitman Street
				p 
					strong Kappi Patterson ‘15
					br
					| What if when you wanted to send an email, not only would you need to understand everything about how an email gets from your computer to the recipient’s inbox, but you would have to manually take the email through each step, and even then it would take you a long time to deliver it – with a chance it could be destroyed? You’d go mad. Why, then, do we accept that as our transportation system? It’s time for transport to be automated, and I’ll explain how.
				p 
					strong Erin Prinz-Schwartz ‘15
					br
					| A virtual community where users claim to be something more than human and a facility that harnesses the labor power of microorganisms: what do these two spaces have in common? I want to challenge how we think about the liveliness and materiality of the spaces around us by focusing on what our contemporary frameworks are leaving out of the picture.
				p 
					strong Erika Manouselis ‘15
					br
					| We know that we owe many of our present day institutions and ideas to the ancient Greeks and Romans, but do all roads really lead to Rome? What does it mean to be the "foundation of Western civilization"? What does "the West" even mean? How has historical narrative created this trans-national cultural identity? 
			.sep
			p.tri-desc Triangles is an intimate lecture series that showcases the work of three individuals (students, faculty, or alumni) from different disciplines and expertise. presenters set the ground for an open discussion with the aim of spawning the discovery of commonalities and contentions among the subjects at hand.

